/* app css stylesheet */
.negative {
    color: red;
}

.positive {
    color: green;
}

div.container.top-margin {
    height: 46px;
}

div.main {
    height: calc(100vh - 46px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-top: 20px;
}

#example {
    overflow-wrap: break-word;
}

#example .input {
    width: 5em !important;
    display: block;
    margin: 0 auto 0.5rem !important;
    text-align: center;
}

#example .checkbox {
    display: block;
    margin: 0 auto 0.5rem !important;
}

ng-prism pre code .decompiled-var {
    text-decoration: underline solid red;
}

ng-prism pre code .oracle-var {
    text-decoration: underline solid green;
}

.hide {
    display: none !important;
}

.ui.styled.accordion .content ul {
    margin-block-end: 4px;
}


/* Sticky table headers */
.ui.definition.table thead tr:first-child > th:not(:first-child) {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: -20px;  /* to offset the 20px padding-top in .main */
    margin-bottom: 41px;  /* offset for the default height of a row */
    z-index: 2;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.ui.definition.table thead tr:first-child > th:nth-child(2) {
    border-radius: 0.28571429rem 0 0 0;
}

.ui.definition.table {
    border-top: 0 !important;
}
